header{
background-color: #CCCCCC;
padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 100px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: rebeccapurple;

}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    font-style: larger;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.productos li:hover{
    border-color: #c78c19;
}
.productos li:active{
    border-color: rebeccapurple;
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
   
}
.productos li:hover h2{
    font-size: 33px;
}
.prod-description{
    font-size: 18px;
}
.prod-price{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    text-align: center;
    background: url(../assets/imagenes/bg.jpg);
    padding: 40px;
}
.copywright{
    color: #FFFFFF;
    font-size: small;
    margin: 20px;
}